<div id="systemcookies" class="tab-pane fade">
  <p>This week, you have given cookies to: {{char.cookies.weekly_cookies}}</p>
  
  <p><b>Lifetime Cookies</b> (not including this week)</p>
  
  <ul>
    <li>Given: {{char.cookies.total_cookies_given}}</li>
    <li>Received: {{char.cookies.total_cookies_received}}</li>
  </ul>
</div>

